.demo1-container {
  height: 100% !important;
  .header {
    height: 100px;
  }
  .index_page {
    overflow: hidden;
    height: 100%;
    :global {
      .react-grid-layout {
        // height: 100%;
        .react-grid-item {
        }
      }
      .component_container {
        position: relative;
        :global {
          .title {
            font-size: 18px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 0px;
            color: white;
            opacity: 0.85;
            text-align: center;
            margin: 0;
            padding: 0;
            background-image: linear-gradient(
              90deg,
              rgba(3, 99, 198, 0.01) 0%,
              rgba(3, 99, 198, 0.65) 50%,
              rgba(3, 99, 198, 0.01) 100%
            );
          }
          .select {
            position: absolute;
            right: 10px;
            border-radius: 4px;
            border: solid 1px #31aacc;
            opacity: 0.85;
            .ant-select-selector {
              color: white;
              background-color: transparent;
            }
            .ant-select-arrow {
              color: rgba(255, 252, 255, 0.6);
            }
          }
        }
      }
    }
  }
}
