@import '../themes/default.less';
.top_bottom_layout {
  display: flex;
  background-image: url(../asserts/img/bg.png);
  background-size: 100% 100%;
  flex-direction: column;
  height: 100%;
  & > div:first-child {
    height: @top_bottom_layout_headerHeight;
    padding: 0px 30px 20px 30px;
  }
  & > div:nth-child(2) {
    padding: 0px 0px 20px 0px;
    height: calc(100% - @top_bottom_layout_headerHeight);
  }
  &.enterprise_home {
    & > div:first-child {
      height: @top_bottom_layout_headerHeight_enterprise_home;
      padding: 0px 30px 20px 30px;
    }
    & > div:nth-child(2) {
      padding: 0px 30px 20px 30px;
      height: calc(100% - @top_bottom_layout_headerHeight_enterprise_home);
    }
  }
  :global {
    .react-grid-item {
      background-color: sienna;
    }
  }
}
